<header>
  <div class="row">
    <div class="col-lg-6">
      <h1>Lesezeichen erstellen</h1>
      <p>Lesezeichen (auch Bookmarks oder Favoriten genannt) ermöglichen einen schnellen Zugriff auf die FoerderApp.</p>
    </div>
  </div>
</header>

<section class="step">
  <div class="row">
    <div class="col-lg-4">
      <h3>1. FoerderApp öffnen</h3>
      <p>Öffnen Sie <a href="https://demo.foerderapp.ch">https://demo.foerderapp.ch</a> in Ihrem Browser.</p>
    </div>
    <div class="col-lg-8">
      <%= image_tag "screenshots/mac/safari/signin.png", class: "screenshot" %>
    </div>
  </div>
</section>

<section class="step">
  <div class="row">
    <div class="col-lg-4">
      <h3>2. Lesezeichen hinzufügen</h3>
      <p>Klicken Sie in der Menüleiste auf «Lesezeichen» und dann auf «Lesezeichen hinzufügen…».</p>
    </div>
    <div class="col-lg-8">
      <%= image_tag "screenshots/mac/safari/menubar-bookmarks-add-bookmark.png" %>
    </div>
  </div>
</section>

<section class="step">
  <div class="row">
    <div class="col-lg-4">
      <h3>3. Name Eingeben und speichern</h3>
      <p>Wählen Sie in der Auswahlleiste «Favoritenleiste» aus, geben Sie im Textfeld den gewünschten Namen für Ihr Lesezeichen ein (z.B. «FoerderApp») und klicken Sie auf «Hinzufügen».</p>
    </div>
    <div class="col-lg-8">
      <%= image_tag "screenshots/mac/safari/add-bookmark-pane.png", class: "screenshot" %>
    </div>
  </div>
</section>



